*{
    margin:5px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background-color:#eac9ab;
}
nav{
    padding:0px 0%;
    height:19vh;
}
nav ul{
    display:flex;
    align-items:center;

}
nav ul li{
    list-style: none;
    margin-right: 10%;
    font-weight:700;
}
nav ul li img{
    width:90%;
    height:10%;
    margin:40%;
}

main{
     display:flex;
     align-items: center;
     justify-content: center;
}
.leftmain{
    width:40%;
   
}
.leftmain h1{
    font-size:40px;
    margin:10%;
}

.leftmain p{
    margin-left:10%;
    font-weight:600;
}
.leftmain button{
    padding:10px;
    font-size: 18px;
    color: white;
    background-color:#3b855b;
    border-radius:15px;
    margin:10%;
}

.leftmain button:hover{
    background-color: white;
    color:black;
}
.rightmain{
    margin-left:10%;
}
.rightmain div img{
 width: 35%;

}
.rightmain > img{
     width:74%;
}

